@import url("https://fonts.googleapis.com/css?family=Grenze&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.App {
  text-align: center; }

.App-link {
  color: #61dafb; }

.App {
  border: 5px solid #aaa4a4;
  background: url("https://image.shutterstock.com/image-illustration/metal-sword-on-dark-background-260nw-691870393.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  width: 99%;
  opacity: 90%;
  display: flex;
  flex-flow: column wrap;
  font-family: 'Grenze', serif; }

.header {
  padding: 5px 5px;
  font-size: 60pt;
  color: #aaa4a4;
  border-radius: 40px; }

.fightCollection {
  align-content: space-evenly;
  padding: 5px 5px;
  font-size: 20pt;
  color: rgba(170, 164, 164, 0.7);
  border-radius: 4px; }

.deleteButton {
  padding: 3px 10px;
  font-size: 10px;
  background-color: #aaa4a4;
  border-radius: 30px;
  border: 2px solid #e70d0d; }

.deleteButton:hover {
  background-color: #e70d0d; }

.deleteSequenceButton {
  justify-content: flex-end;
  padding: 3px 10px;
  font-size: 10px;
  background-color: #aaa4a4;
  border-radius: 30px;
  border: 2px solid #e70d0d; }

.deleteSequenceButton:hover {
  background-color: #e70d0d; }

h2 {
  font-size: 30pt;
  color: #aaa4a4;
  font-family: 'Grenze', serif; }

.fightButton:hover {
  border-radius: 30px;
  border: 2px solid #527cee;
  box-shadow: 0 8px 16px 0 #282c34; }

.createFightForm {
  font-size: 30px;
  color: #aaa4a4;
  font-family: 'Grenze', serif; }

input[type=text] {
  border: 2px solid #527cee;
  border-radius: 4px;
  font-size: 12px;
  background-color: #aaa4a4;
  border-radius: 30px;
  padding: 3px 10px; }

input[type=text]:focus {
  background-color: lightblue; }

input[type=submit] {
  border: 2px solid #527cee;
  font-size: 12px;
  background-color: #aaa4a4;
  border-radius: 30px;
  padding: 3px 10px; }

input[type=submit]:hover {
  background-color: #527cee; }

.goBackButton {
  padding: 3px 10px;
  font-size: 12px;
  background-color: #aaa4a4;
  border-radius: 30px;
  border: 2px solid #7557e4; }

.goBackButton:hover {
  background-color: #7557e4; }

.fightButton {
  align-content: space-between;
  padding: 3px 30px;
  color: #aaa4a4;
  font-size: 25px;
  font-family: 'Grenze', serif;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  cursor: pointer; }

.sequenceContent {
  box-shadow: 0 8px 16px 0 #E6E8E6;
  transition: 0.3s;
  align-content: space-between 50px;
  padding: 3px 10px;
  color: #aaa4a4;
  font-size: 20px;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly; }
  .sequenceContent p {
    padding-right: 10px; }

.fightButtonDiv {
  align-content: space-between;
  padding: 3px 30px;
  color: #aaa4a4;
  font-size: 25px;
  font-family: 'Grenze', serif;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  border: 2px solid rgba(170, 164, 164, 0.6);
  cursor: pointer; }

/*# sourceMappingURL=App.css.map */
